.infoMain {
  position: absolute;
  color: #007d9b;
  top: 50%;
  height: 450px;
  margin-top: -225px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  z-index: 9;
}
.infoText {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 2px;
  padding-bottom: 100px;
  overflow: auto;

}
.pageTitle {
  font-family: "Bodoni Moda", serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 25px;
}
.photo {
  position: absolute;
  width: 500px;
  top: 500px;
  left: 50%;
  margin-left: -250px;
  padding-bottom: 200px;
}
@media only screen and (max-width: 768px) {
  .infoMain {
    width: 325px;
    margin-left: -162.5px;
  }
  .pageTitle {
      text-align: center;
  }
}
