.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoMain {
  color: #405353;
  max-width: 600px;
}
.infoText {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 2px;
  padding: 2rem 0 100px 0;
  overflow: auto;
}
.pageTitle {
  font-family: "Bodoni Moda", serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.photo {
  position: absolute;
  width: 500px;
  top: 500px;
  left: 50%;
  margin-left: -250px;
  padding-bottom: 200px;
}
.reviews {
  width: 100%;
  background-color: #405353;
  color: white;
  padding-bottom: 40px;
}
.reviewTitle {
  font-family: "Bodoni Moda", serif;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 2.5rem;
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
}
.line {
  border-top: 1px solid white;
  width: 100%;
}
.quoteWrapper {
  max-width: 80%;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  padding: 40px 0;
}
.quote {
  padding-bottom: 20px;
}
.credit {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .infoMain {
    width: 325px;
    margin: auto;
  }
  .pageTitle {
      text-align: center;
  }
}
