.workMain {
  color: #007d9b;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.workTitle {
  text-align: center;
  width: 100%;
  font-family: "Bodoni Moda", serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 4rem;
}
.workTitle:hover {
  color: #024657;
}
.workText {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 2px;
}
.block {
  margin-top: 6rem;
}
.item {
  position: relative;
  margin-bottom: 50px;
}
.img {
  position: absolute;
  height: 225px;
  opacity: 80%;
  filter: drop-shadow(8px 8px 10px #024657);
}
.video {
  position: absolute;
  height: 225px;
  opacity: 0;
  transition: opacity 1000ms;
}
.frenzy {
  top: 100px;
}
.raptor {
  top: 300px;
  right: 0;
}
.bite {
  bottom: 0;
  left: 125px;
}

@media only screen and (max-width: 768px) {
  .workText,
  .workTitle {
    padding: 0 5px;
  }
  .img {
    height: 150px;
    opacity: 50%;
  }
  .frenzy {
    top: 75px;
  }
  .raptor {
    top: 350px;
  }
  .bite {
    left: 50px;
  }
}
