.workMain {
  color: darkslategray;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.workTitle {
  text-align: center;
  width: 100%;
  height: 100px;
  font-family: "Bodoni Moda", serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 4rem;
}
.workText {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 2px;
}
.frenzy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.vimeoLogo {
  height: 18px;
  position: absolute;
  left: 50%;
  margin-left: -20.6px;
  margin-top: 20px;
}
.workVideo {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 25px;
  padding-bottom: 100px;
}
.description {
  margin: 1;
  font-size: 14px;
  line-height: 2;
}
.list {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  top: 12rem;
  z-index: 1;
}
.announcement {
  margin: 200px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@media only screen and (max-width: 768px) {
  .workVideo {
    width: 325px;
    margin-left: -162.5px;
  }
  .workText {
    padding: 0 20px;
  }
}
